{% extends 'servico_campo/base.html' %}
{% block title %}Confirmar Exclusão de Usuário{% endblock %}

{% block content %}
<div class="card">
    <div class="card-header bg-danger text-white"><h1 class="mb-0">Confirmar Exclusão de Usuário</h1></div>
    <div class="card-body">
        <p>Você tem certeza que deseja excluir o usuário <strong>"{{ user.username }}"</strong>?</p>
        <p class="text-danger">Atenção: Esta ação não pode ser desfeita.</p>
        {% if messages %}
            {% for message in messages %}
                {% if message.tags == 'error' %}
                    <div class="alert alert-danger" role="alert">
                        {{ message }}
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}
        <form method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Sim, tenho certeza</button>
            <a href="{% url 'servico_campo:lista_usuarios' %}" class="btn btn-secondary">Cancelar</a>
        </form>
    </div>
</div>
{% endblock %}